<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/invoice.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <table class="invoice">
        <th>
            <h2>Invoice for Order # <%= order._id %></h1>
            <h3><a href="#" onclick="javascript:window.print();">Print Invoice</a><h3>
        </th>
        <tr>
            <td>
                <table class="invoice__head" >
                    <tbody class="invoice__head__desc">
                        <tr>
                            <td>
                                <b>Order Placed:</b>
                                <%= order.created_at.getMonth() + 1 %>/<%= order.created_at.getDate() %> <%= order.created_at.getFullYear() %>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <b>Mart77 order number:</b><%= order._id %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Order Total: $<%= order.billing.total %></b>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="order__summary">
                    <tbody>
                        <tr>
                            <td>
                                <table class="order__table" >
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <table class="ship__head">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b class="">
                                                                    <center>                                                                    
                                                                        Shipped on <%= order.created_at.getMonth() + 1 %>/<%= order.created_at.getDate() %> <%= order.created_at.getFullYear() %>
                                                                    </center>
                                                                </b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="invoice__orders">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table class="order__price-th">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="order__price-td">
                                                                                &nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table class="order__item-table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <b>Items Ordered</b>
                                                                            </td>
                                                                            <td class="order__item-td">
                                                                                <b>Price</b>
                                                                            </td>
                                                                        </tr>
                                                                        <% for (let prod of order.products) { %>
                                                                            <tr>
                                                                                <input type="hidden" name="pid" value="<%= prod.product._id %>" >                                    
                                                                                <td class="order__item-detail" colspan="1">    
                                                                                    <%= prod.quantity %> of: <i><%= prod.product.title %></i><br>
                                                                                    <span class="tiny">
                                                                                        Sold by: <a href="/user/<%= prod.product.userId %>"><%= prod.product.userName %></a><br><br>
                                                                                        Condition: New<br>
                                                                                    </span>
                                                                                </td>
                                                                                <td class="order__item-price" colspan="2">
                                                                                    $<%= prod.product.price %><br>
                                                                                </td>
                                                                            </tr>
                                                                        <% } %>
                                                                    </tbody>
                                                                </table>
                                                                <br>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="ship__table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>Shipping Address:</b>
                                                                <br>
                                                                <div class="addrDiv">
                                                                    <ul class="addrUL">
                                                                        <li class="addrLI FullName"><%= order.shipAddr.name %></li>
                                                                        <li class="addrLI AddressLine1"><%= order.shipAddr.addr %></li>
                                                                        <li class="addrLI CityStateOrRegionPostalCode"><%= order.shipAddr.addr2.city %>, <%= order.shipAddr.addr2.state %>, <%= order.shipAddr.addr2.postcode %></li>
                                                                        <li class="addrLI CountryName"><%= order.shipAddr.country %></li>
                                                                    </ul>
                                                                </div>
                                                                <br>
                                                                <b>Shipping Speed:</b>
                                                                <br>
                                                                One-Day Shipping
                                                                <br>
                                                            </td>
                                                            <td class="Dummy1">
                                                                <table class="Dummy2"></table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="payment__summary">
                    <tbody>
                        <tr>
                            <td>
                                <table class="payment__table">
                                    <tbody>
                                        <tr>
                                            <td valign="top" colspan="2">
                                                <table class="pay__head">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b><center>Payment information</center></b>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="payment">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table class="payment__detail" align="right">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="payment__detail-td">
                                                                                <table class="pay__breakdown">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>Item(s) Subtotal: </td>
                                                                                            <td>$<%= order.billing.subtotal %></td>
                                                                                        </tr> 
                                                                                        <tr>
                                                                                            <td>Shipping &amp; Handling:</td>
                                                                                            <td>$<%= order.billing.fee %></td>
                                                                                        </tr>  
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>-----</td>
                                                                                        </tr> 
                                                                                        <tr>
                                                                                            <td>Total before tax:</td>
                                                                                            <td>$<%= order.billing.pretax %></td>
                                                                                        </tr>                                
                                                                                        <tr>
                                                                                            <td>Estimated tax to be collected:</td>
                                                                                            <td>$<%= order.billing.tax %></td>
                                                                                        </tr>                                
                                                                                        <tr>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>-----</td>
                                                                                        </tr>                                
                                                                                        <tr>
                                                                                            <td><b>Grand Total:</b></td>
                                                                                            <td><b>$<%= order.billing.total %></b></td>
                                                                                        </tr> 
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <b>Payment Method: </b>
                                                                <br>
                                                                Visa
                                                                <nobr> | Last digits:  <%= order.billing.digit %></nobr>
                                                                <br> 
                                                                <br>
                                                                <b>Billing address</b>
                                                                <div class="addrDiv">
                                                                    <ul class="addrUL">
                                                                        <li class="addrLI FullName"><%= order.billing.billAddr.name %></li>
                                                                        <li class="addrLI AddressLine1"><%= order.billing.billAddr.addr %></li>
                                                                        <li class="addrLI CityStateOrRegionPostalCode"><%= order.billing.billAddr.addr2.city %>, <%= order.billing.billAddr.addr2.state %>, <%= order.billing.billAddr.addr2.postcode %></li>
                                                                        <li class="addrLI CountryName"><%= order.billing.billAddr.country %></li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                        </td></tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="card__table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="card__header"><b>Credit Card transactions&nbsp;</b></div>
                                                            </td>
                                                            <td align="right">                  
                                                            <table class="card__info">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            Visa ending in <%= order.billing.digit %>:&nbsp;
                                                                            <%= order.created_at.getMonth() + 1 %>/<%= order.created_at.getDate() %> <%= order.created_at.getFullYear() %>:
                                                                        </td>
                                                                        <td colspan="2">
                                                                            $<%= order.billing.total %>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                        </td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</main>
<%- include('../includes/end.ejs') %>